body {
    background-color: #36393F;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding-bottom: 60px;
}

.header-container {
    padding: 128px 16px;
    text-align: center;
}

.nav-container {
    padding: 16px;
}

.nav-link {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #97CBFF;
    color: #000;
    border-radius: 4px;
    margin-right: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #666;
}

.section {
    padding: 64px;
    background-color: #36393F;
}

.section h2 {
    color: #FFFFFF;
}

.section li strong {
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 32px;
    }

    .section h2 {
        font-size: 24px;
    }

    .section li {
        margin-bottom: 4px;
    }

    .section li strong {
        font-size: 14px;
    }

    .header-container {
        padding: 32px 16px;
    }

    .nav-container {
        padding: 8px;
    }

    .nav-link {
        padding: 6px 14px;
        font-size: 10px;
        margin-right: 4px;
    }

    ul {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }
}
