body {
  background-color: #36393F;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding-bottom: 60px;
}

.header-container {
  padding: 128px 16px;
  text-align: center;
}

.nav-container {
  padding: 16px;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #97CBFF;
  color: #000;
  border-radius: 4px;
  margin-right: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #666;
}

p {
  font-size: 16px;
  margin-bottom: auto;
}
